<li class="device-item">
    <img alt="Test" width="30px" height="30px" src="/image/test.jpg" />
    <div>
        <%= device.name %> <br>
        <%= device.status ? 'Connected' : 'Not Connected' %>
    </div>
    <button id="#" type="button" class="openModal device-btn" onclick="openModal()" data-device-info="<%= JSON.stringify(device) %>">
        Click
    </button>
</li>
