<%- include('modalDevice.ejs'); %>

    <div class="wrapper">
        <div class="container">
            <h1 class="device-title-h1">Main Title</h1>
            <div class="content">
                <h2 class="device-subTitle-h2">My Device</h2>
                <ul class="device-list">
                    <li class="device-item">
                        <img alt="Test" width="30px" height="30px" src="/image/test.jpg" />
                        <div>
                            My Device <br>
                            Connected
                        </div>
                        <button id="#" type="button" class="openModal device-btn">
                            Click
                        </button>
                    </li>
                </ul>
            </div>

            <div class="content">
                <h2>Devices</h2>
            </div>

        </div>
    </div>